<div class="card py-5 text-center">
<div class="container">


<h1 class="text-center">Account Settings</h1>
<hr>
<%= render 'form', user: @user %>

<div>
  <%= link_to 'Back', :back, class:"btn btn-outline-primary" %>
</div>


</div>
</div>
