<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>

A very simple auth application with proper redirects and minimal styling. If you are new to development or even just Ruby on Rails I do <strong>not</strong> reccomend starting to build your app with this templete. I highly suggest learning session management before using anyone elses auth.
